In [2]:
import pandas as pd

In [3]:
import datetime as dt
#part of python laguage
#standard library-internal library that ship with python
#whenever you need to work with it you need to import it

## Review of Python's datetime Module

In [7]:
someday=dt.date(2018,9,10)

In [8]:
someday.year

2018

In [9]:
someday.month

9

In [10]:
someday.day

10

In [15]:
str(someday)

'2018-09-10'

In [11]:
dt.datetime(2020,1,12)
#default midnight 12:00 jan 12 2020

datetime.datetime(2020, 1, 12, 0, 0)

In [12]:
#datetime(year, month, day, hour, minute, second)
dt.datetime(2020,1,12,13,57)

datetime.datetime(2020, 1, 12, 13, 57)

In [13]:
#5:30:57 PM
dt.datetime(2020,1,12,17,13,57)

datetime.datetime(2020, 1, 12, 17, 13, 57)

In [14]:
#more readable format
str(dt.datetime(2020,1,12,17,13,57))

'2020-01-12 17:13:57'

In [16]:
sometime= dt.datetime(2020,1,12,17,13,57)

In [17]:
sometime.year

2020

In [18]:
sometime.month

1

In [19]:
sometime.day

12

In [20]:
sometime.hour

17

In [21]:
sometime.minute

13

In [22]:
sometime.second

57

## The pandas TIMESTAMP Object

In [23]:
#Timestamp is basically pandas version of Python's datetime
#can have dates and time
#If time not provided by default midnight 12:00
pd.Timestamp('2015-03-31')
#pandas timestamp can interpret various formats

Timestamp('2015-03-31 00:00:00')

In [24]:
pd.Timestamp('2015/03/31')

Timestamp('2015-03-31 00:00:00')

In [26]:
pd.Timestamp('2015,11,04')
#2015 Nov 4

Timestamp('2015-04-01 00:00:00')

In [28]:
pd.Timestamp('1/1/2015')

Timestamp('2015-01-01 00:00:00')

In [29]:
pd.Timestamp('19/12/2015') #can lead to inconsistency
#day month year

C:\Users\hp\AppData\Local\Temp\ipykernel_28220\372167232.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.Timestamp('19/12/2015')

Timestamp('2015-12-19 00:00:00')

In [30]:
pd.Timestamp('4/3/2015') #can lead to inconsistency

Timestamp('2015-04-03 00:00:00')

In [31]:
pd.Timestamp('2021-03-08 08:35:15')

Timestamp('2021-03-08 08:35:15')

In [33]:
pd.Timestamp('2021-03-08 06:35:15 PM')

Timestamp('2021-03-08 18:35:15')

In [35]:
pd.Timestamp(dt.date(2020,1,1))

Timestamp('2020-01-01 00:00:00')

In [37]:
pd.Timestamp(dt.datetime(2023,1,1,21,35,22))

Timestamp('2023-01-01 21:35:22')

In [38]:
#Why TIMESTAMP when we have datetime object

#offers more flexibility
#More functionalities and features
#works faster

## The pandas DateTimeIndex Object

In [39]:
#collection of pandas timestamp
dates=['2016-01-02','2016-04-12','2009-09-07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [40]:
type( pd.DatetimeIndex(dates) )

pandas.core.indexes.datetimes.DatetimeIndex

In [41]:
dates=['2016/01/02','2016/04/12','2009/09/07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [4]:
dates=[dt.date(2016,1,2),dt.date(2016,4,12),dt.date(2009,9,7)]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

## The pd.to_datetime() Method

In [6]:
pd.to_datetime('2001-04-19')

Timestamp('2001-04-19 00:00:00')

In [7]:
pd.to_datetime(dt.date(2020,1,1))

Timestamp('2020-01-01 00:00:00')

In [8]:
pd.to_datetime(dt.datetime(2015,1,1,14,35,20))

Timestamp('2015-01-01 14:35:20')

In [9]:
pd.to_datetime(['2015-01-03',
        '2014/02/08',
        '2016',
        "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [13]:
times=pd.Series(['2015-01-03',
        '2014/02/08',
        '2016',
        "July 4th, 1996"])#considers as string
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [14]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [16]:
dates=pd.Series(['July 4th 1996',"10/04/1991","Hello","2015-02-31"])
dates

0    July 4th 1996
1       10/04/1991
2            Hello
3       2015-02-31
dtype: object

In [20]:
pd.to_datetime(dates) #gives error

ParserError: Unknown string format: Hello present at position 2

In [19]:
pd.to_datetime(dates,errors="coerce") 
#it gives error

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [21]:
#Unix times
pd.to_datetime([1249720105,1349806505,1249979305])

DatetimeIndex(['1970-01-01 00:00:01.249720105',
               '1970-01-01 00:00:01.349806505',
               '1970-01-01 00:00:01.249979305'],
              dtype='datetime64[ns]', freq=None)

## Create Range of Dates with the pd.date_range() Method

In [25]:
times=pd.date_range(start='2017-01-01',end="2017-01-10",freq="D")
#freq 1 day
times

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', freq='D')

In [24]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [26]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [27]:
times2=pd.date_range(start='2017-01-01',end="2017-01-10",freq="2D")
#2days increment
times2

DatetimeIndex(['2017-01-01', '2017-01-03', '2017-01-05', '2017-01-07',
               '2017-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [29]:
times3=pd.date_range(start='2017-01-01',end="2017-01-10",freq="B")
#business days
times3

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06', '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', freq='B')

In [30]:
times4=pd.date_range(start='2017-01-01',end="2017-01-10",freq="W")
#W means Sunday
#1 jan is friday hence not included, if we want to include
#start day we need to give freq="W-FRI"
times4

DatetimeIndex(['2017-01-01', '2017-01-08'], dtype='datetime64[ns]', freq='W-SUN')

In [31]:
times5=pd.date_range(start='2017-01-01',end="2017-01-10",freq="W-FRI")
times5

DatetimeIndex(['2017-01-06'], dtype='datetime64[ns]', freq='W-FRI')

In [32]:
times6=pd.date_range(start='2017-01-01',end="2017-01-10",freq="H")
#H -Hours
times6

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 01:00:00',
               '2017-01-01 02:00:00', '2017-01-01 03:00:00',
               '2017-01-01 04:00:00', '2017-01-01 05:00:00',
               '2017-01-01 06:00:00', '2017-01-01 07:00:00',
               '2017-01-01 08:00:00', '2017-01-01 09:00:00',
               ...
               '2017-01-09 15:00:00', '2017-01-09 16:00:00',
               '2017-01-09 17:00:00', '2017-01-09 18:00:00',
               '2017-01-09 19:00:00', '2017-01-09 20:00:00',
               '2017-01-09 21:00:00', '2017-01-09 22:00:00',
               '2017-01-09 23:00:00', '2017-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [33]:
times7=pd.date_range(start='2017-01-01',end="2017-01-10",freq="6H")
times7

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 06:00:00',
               '2017-01-01 12:00:00', '2017-01-01 18:00:00',
               '2017-01-02 00:00:00', '2017-01-02 06:00:00',
               '2017-01-02 12:00:00', '2017-01-02 18:00:00',
               '2017-01-03 00:00:00', '2017-01-03 06:00:00',
               '2017-01-03 12:00:00', '2017-01-03 18:00:00',
               '2017-01-04 00:00:00', '2017-01-04 06:00:00',
               '2017-01-04 12:00:00', '2017-01-04 18:00:00',
               '2017-01-05 00:00:00', '2017-01-05 06:00:00',
               '2017-01-05 12:00:00', '2017-01-05 18:00:00',
               '2017-01-06 00:00:00', '2017-01-06 06:00:00',
               '2017-01-06 12:00:00', '2017-01-06 18:00:00',
               '2017-01-07 00:00:00', '2017-01-07 06:00:00',
               '2017-01-07 12:00:00', '2017-01-07 18:00:00',
               '2017-01-08 00:00:00', '2017-01-08 06:00:00',
               '2017-01-08 12:00:00', '2017-01-08 18:00:00',
               '2017-01-09 00:00:00', '2017-01-09 06:00:00',
               '2017-01-09 12:00:00', '2017-01-09 18:00:00',
               '2017-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [35]:
times8=pd.date_range(start='2017-01-01',end="2017-12-31",freq="M")
#M: Month end which falls between date range
times8

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', freq='M')

In [36]:
times9=pd.date_range(start='2017-01-01',end="2017-12-31",freq="MS")
#MS: month start
times9

DatetimeIndex(['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
               '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
               '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [38]:
times10=pd.date_range(start='2017-01-01',end="2023-12-31",freq="A")
#year end
times10

DatetimeIndex(['2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31', '2023-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [39]:
p1=pd.date_range(start='2012-09-09',periods=25,freq="D")
#periods means number of values we want
p1

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [40]:
len(p1)

25

In [41]:
pd.date_range(start="2012-09-09",periods=50,freq="B")
#50 Business days

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [42]:
pd.date_range(start="2012-09-09",periods=50,freq="W")

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24', '2013-03-03', '2013-03-10', '2013-03-17',
               '2013-03-24', '2013-03-31', '2013-04-07', '2013-04-14',
               '2013-04-21', '2013-04-28', '2013-05-05', '2013-05-12',
               '2013-05-19', '2013-05-26', '2013-06-02', '2013-06-09',
               '2013-06-16', '2013-06-23', '2013-06-30', '2013-07-07',
               '2013-07-14', '2013-07-21', '2013-07-28', '2013-08-04',
               '2013-08-11', '2013-08-18'],
              dtype='datetime64[ns]', freq='W-SUN')

In [43]:
pd.date_range(start="2012-09-09",periods=50,freq="W-MON")

DatetimeIndex(['2012-09-10', '2012-09-17', '2012-09-24', '2012-10-01',
               '2012-10-08', '2012-10-15', '2012-10-22', '2012-10-29',
               '2012-11-05', '2012-11-12', '2012-11-19', '2012-11-26',
               '2012-12-03', '2012-12-10', '2012-12-17', '2012-12-24',
               '2012-12-31', '2013-01-07', '2013-01-14', '2013-01-21',
               '2013-01-28', '2013-02-04', '2013-02-11', '2013-02-18',
               '2013-02-25', '2013-03-04', '2013-03-11', '2013-03-18',
               '2013-03-25', '2013-04-01', '2013-04-08', '2013-04-15',
               '2013-04-22', '2013-04-29', '2013-05-06', '2013-05-13',
               '2013-05-20', '2013-05-27', '2013-06-03', '2013-06-10',
               '2013-06-17', '2013-06-24', '2013-07-01', '2013-07-08',
               '2013-07-15', '2013-07-22', '2013-07-29', '2013-08-05',
               '2013-08-12', '2013-08-19'],
              dtype='datetime64[ns]', freq='W-MON')

In [44]:
pd.date_range(start="2012-09-09",periods=50,freq="MS")

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01',
               '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
               '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
               '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [45]:
pd.date_range(start="2012-09-09",periods=50,freq="H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 01:00:00',
               '2012-09-09 02:00:00', '2012-09-09 03:00:00',
               '2012-09-09 04:00:00', '2012-09-09 05:00:00',
               '2012-09-09 06:00:00', '2012-09-09 07:00:00',
               '2012-09-09 08:00:00', '2012-09-09 09:00:00',
               '2012-09-09 10:00:00', '2012-09-09 11:00:00',
               '2012-09-09 12:00:00', '2012-09-09 13:00:00',
               '2012-09-09 14:00:00', '2012-09-09 15:00:00',
               '2012-09-09 16:00:00', '2012-09-09 17:00:00',
               '2012-09-09 18:00:00', '2012-09-09 19:00:00',
               '2012-09-09 20:00:00', '2012-09-09 21:00:00',
               '2012-09-09 22:00:00', '2012-09-09 23:00:00',
               '2012-09-10 00:00:00', '2012-09-10 01:00:00',
               '2012-09-10 02:00:00', '2012-09-10 03:00:00',
               '2012-09-10 04:00:00', '2012-09-10 05:00:00',
               '2012-09-10 06:00:00', '2012-09-10 07:00:00',
               '2012-09-10 08:00:00', '2012-09-10 09:00:00',
               '2012-09-10 10:00:00', '2012-09-10 11:00:00',
               '2012-09-10 12:00:00', '2012-09-10 13:00:00',
               '2012-09-10 14:00:00', '2012-09-10 15:00:00',
               '2012-09-10 16:00:00', '2012-09-10 17:00:00',
               '2012-09-10 18:00:00', '2012-09-10 19:00:00',
               '2012-09-10 20:00:00', '2012-09-10 21:00:00',
               '2012-09-10 22:00:00', '2012-09-10 23:00:00',
               '2012-09-11 00:00:00', '2012-09-11 01:00:00'],
              dtype='datetime64[ns]', freq='H')

In [46]:
pd.date_range(start="2012-09-09",periods=50,freq="6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [47]:
pd.date_range(end='2023-12-31',periods=20,freq="D")
#since end given moves backward

DatetimeIndex(['2023-12-12', '2023-12-13', '2023-12-14', '2023-12-15',
               '2023-12-16', '2023-12-17', '2023-12-18', '2023-12-19',
               '2023-12-20', '2023-12-21', '2023-12-22', '2023-12-23',
               '2023-12-24', '2023-12-25', '2023-12-26', '2023-12-27',
               '2023-12-28', '2023-12-29', '2023-12-30', '2023-12-31'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(end='2023-12-31',periods=20,freq="B")

DatetimeIndex(['2023-12-04', '2023-12-05', '2023-12-06', '2023-12-07',
               '2023-12-08', '2023-12-11', '2023-12-12', '2023-12-13',
               '2023-12-14', '2023-12-15', '2023-12-18', '2023-12-19',
               '2023-12-20', '2023-12-21', '2023-12-22', '2023-12-25',
               '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29'],
              dtype='datetime64[ns]', freq='B')

In [49]:
pd.date_range(end='2023-12-31',periods=20,freq="W-Sun")
#all sundays 20 values

DatetimeIndex(['2023-08-20', '2023-08-27', '2023-09-03', '2023-09-10',
               '2023-09-17', '2023-09-24', '2023-10-01', '2023-10-08',
               '2023-10-15', '2023-10-22', '2023-10-29', '2023-11-05',
               '2023-11-12', '2023-11-19', '2023-11-26', '2023-12-03',
               '2023-12-10', '2023-12-17', '2023-12-24', '2023-12-31'],
              dtype='datetime64[ns]', freq='W-SUN')

In [50]:
pd.date_range(end='2023-12-31',periods=20,freq="M")
#Month end

DatetimeIndex(['2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31',
               '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31'],
              dtype='datetime64[ns]', freq='M')

In [51]:
pd.date_range(end='2023-12-31',periods=20,freq="MS")
#month start

DatetimeIndex(['2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01',
               '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01', '2023-10-01', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [53]:
pd.date_range(end='2023-12-31',periods=20,freq="7H")
#decrements by 7 hours

DatetimeIndex(['2023-12-25 11:00:00', '2023-12-25 18:00:00',
               '2023-12-26 01:00:00', '2023-12-26 08:00:00',
               '2023-12-26 15:00:00', '2023-12-26 22:00:00',
               '2023-12-27 05:00:00', '2023-12-27 12:00:00',
               '2023-12-27 19:00:00', '2023-12-28 02:00:00',
               '2023-12-28 09:00:00', '2023-12-28 16:00:00',
               '2023-12-28 23:00:00', '2023-12-29 06:00:00',
               '2023-12-29 13:00:00', '2023-12-29 20:00:00',
               '2023-12-30 03:00:00', '2023-12-30 10:00:00',
               '2023-12-30 17:00:00', '2023-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

## The .dt Accessor

In [54]:
bunch_of_dates=pd.date_range(start='2000-01-01',end='2010-12-31',freq='24D')

In [55]:
bunch_of_dates

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [56]:
s=pd.Series(bunch_of_dates)

In [57]:
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [58]:
s.dt.day #extracts day and returns as a series

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [59]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [62]:
s.dt.is_month_start

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [66]:
s.dt.is_month_start

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [67]:
s.dt.is_month_end

0      False
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

## Import Financial Dataset with pandas_datareader library
Install pandas_datareader

In [68]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [69]:
stocks = data.DataReader(
    name="MSFT", data_source="stooq", start="2010-01-01", end="2020-12-31"
)

In [70]:
stocks

                Open      High       Low     Close        Volume
Date
2020-12-31  217.8220  219.1040  215.8380  218.5280  2.131555e+07
2020-12-30  221.2770  221.6740  217.5950  217.8020  2.063381e+07
2020-12-29  222.3500  223.2140  219.6590  220.2050  1.771353e+07
2020-12-28  220.5040  222.0710  219.1230  221.0100  1.825327e+07
2020-12-24  217.5450  219.6890  217.3260  218.8550  1.073870e+07
...              ...       ...       ...       ...           ...
2010-01-08   23.7837   24.2642   23.7608   24.0934  6.515561e+07
2010-01-07   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-06   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-05   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-04   24.0854   24.4389   24.0358   24.3178  4.886916e+07

[2769 rows x 5 columns]

In [72]:
stocks.Volume

Date
2020-12-31    2.131555e+07
2020-12-30    2.063381e+07
2020-12-29    1.771353e+07
2020-12-28    1.825327e+07
2020-12-24    1.073870e+07
                  ...
2010-01-08    6.515561e+07
2010-01-07    6.434577e+07
2010-01-06    7.403254e+07
2010-01-05    6.331174e+07
2010-01-04    4.886916e+07
Name: Volume, Length: 2769, dtype: float64

In [73]:
stocks.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

## Selecting Rows from a DataFrame with a DatetimeIndex

In [74]:
stocks.loc['2010-01-04']

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [75]:
#its better to do like this
stocks.loc[pd.Timestamp('2010-01-04')]

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [76]:
stocks.iloc[0]

Open      2.178220e+02
High      2.191040e+02
Low       2.158380e+02
Close     2.185280e+02
Volume    2.131555e+07
Name: 2020-12-31 00:00:00, dtype: float64

In [77]:
stocks.iloc[500]

Open      9.871460e+01
High      9.961430e+01
Low       9.745190e+01
Close     9.848540e+01
Volume    3.289546e+07
Name: 2019-01-08 00:00:00, dtype: float64

In [78]:
stocks.iloc[-1]

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [79]:
stocks.iloc[-3]

Open      2.426420e+01
High      2.442300e+01
Low       2.398520e+01
Close     2.417580e+01
Volume    7.403254e+07
Name: 2010-01-06 00:00:00, dtype: float64

In [80]:
stocks.loc['2023-03-23']
#error if doesnt exists

KeyError: '2023-03-23'

In [82]:
stocks.loc[[pd.Timestamp('2010-01-04'),pd.Timestamp('2020-12-30')]]

                Open      High       Low     Close        Volume
Date
2010-01-04   24.0854   24.4389   24.0358   24.3178  4.886916e+07
2020-12-30  221.2770  221.6740  217.5950  217.8020  2.063381e+07

In [84]:
stocks.truncate(before='2013-10-01',after='2013-10-07')

               Open     High      Low    Close        Volume
Date
2013-10-07  28.3306  28.4209  27.9940  28.0754  4.159240e+07
2013-10-04  28.4059  28.6601  28.3484  28.5668  3.913007e+07
2013-10-03  28.5668  28.6661  28.1747  28.5489  4.590812e+07
2013-10-02  28.1260  28.6928  28.0665  28.5976  5.566476e+07
2013-10-01  28.1102  28.3395  28.0754  28.3106  4.352740e+07

In [86]:
stocks.loc['2013-10-01':'2013-10-07']#last index inclusive

               Open     High      Low    Close        Volume
Date
2013-10-07  28.3306  28.4209  27.9940  28.0754  4.159240e+07
2013-10-04  28.4059  28.6601  28.3484  28.5668  3.913007e+07
2013-10-03  28.5668  28.6661  28.1747  28.5489  4.590812e+07
2013-10-02  28.1260  28.6928  28.0665  28.5976  5.566476e+07
2013-10-01  28.1102  28.3395  28.0754  28.3106  4.352740e+07

In [87]:
stocks.iloc[1000:1005]# 1005 exclusive

               Open     High      Low    Close        Volume
Date
2017-01-11  57.6727  58.2436  57.5069  58.2079  2.218117e+07
2017-01-10  57.7830  58.0976  57.3689  57.6816  1.849459e+07
2017-01-09  57.8097  58.1075  57.6073  57.7015  2.018532e+07
2017-01-06  57.3868  58.1701  57.1456  57.8842  1.907929e+07
2017-01-05  57.2856  57.7193  57.1357  57.3868  2.318354e+07

In [89]:
birthday_dates=pd.date_range(start='1991-04-12',end='2020-12-31',freq=pd.DateOffset(years=1))
#looks for april 12 every year
birthday_dates

In [90]:
stocks.index.isin(birthday_dates)

array([False, False, False, ..., False, False, False])

In [91]:
birthday_stocks=stocks.index.isin(birthday_dates)

In [92]:
stocks[birthday_stocks]

                Open      High       Low     Close        Volume
Date
2019-04-12  116.0740  116.3920  115.8160  116.3620  2.052278e+07
2018-04-12   87.4516   89.0898   87.4516   88.5418  2.828220e+07
2017-04-12   60.6262   60.7106   60.3403   60.4504  1.777855e+07
2016-04-12   49.0942   49.4625   48.5433   49.3474  2.634784e+07
2013-04-12   23.9882   24.1281   23.8293   23.9356  7.563946e+07
2012-04-12   24.6027   25.0545   24.5540   25.0068  4.745507e+07
2011-04-12   20.2881   20.3101   20.0727   20.1451  4.698646e+07
2010-04-12   23.7738   23.9594   23.7291   23.8254  4.717443e+07

## ```Timestamp``` Object Attributes and Methods

In [93]:
stocks.index[100]

Timestamp('2020-08-10 00:00:00')

In [94]:
someday=stocks.index[100]

In [95]:
someday.month

8

In [97]:
someday.year

2020

In [98]:
someday.week

33

In [99]:
someday.is_month_end

False

In [100]:
someday.is_month_start

False

In [101]:
someday.is_quarter_end

False

In [102]:
someday.day

10

In [104]:
someday.month_name()

'August'

In [105]:
someday.day_name()

'Monday'

In [106]:
stocks.index.day_name()

Index(['Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Thursday', 'Wednesday',
       'Tuesday', 'Monday', 'Friday', 'Thursday',
       ...
       'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Friday',
       'Thursday', 'Wednesday', 'Tuesday', 'Monday'],
      dtype='object', name='Date', length=2769)

In [107]:
stocks.index.month_name()

Index(['December', 'December', 'December', 'December', 'December', 'December',
       'December', 'December', 'December', 'December',
       ...
       'January', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January'],
      dtype='object', name='Date', length=2769)

In [118]:
stocks.insert(0,'Day of Week',stocks.index.day_name()) 
#0 is col position
stocks

           Day of Week      Open      High       Low     Close        Volume
Date
2020-12-31    Thursday  217.8220  219.1040  215.8380  218.5280  2.131555e+07
2020-12-30   Wednesday  221.2770  221.6740  217.5950  217.8020  2.063381e+07
2020-12-29     Tuesday  222.3500  223.2140  219.6590  220.2050  1.771353e+07
2020-12-28      Monday  220.5040  222.0710  219.1230  221.0100  1.825327e+07
2020-12-24    Thursday  217.5450  219.6890  217.3260  218.8550  1.073870e+07
...                ...       ...       ...       ...       ...           ...
2010-01-08      Friday   23.7837   24.2642   23.7608   24.0934  6.515561e+07
2010-01-07    Thursday   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-06   Wednesday   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-05     Tuesday   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-04      Monday   24.0854   24.4389   24.0358   24.3178  4.886916e+07

[2769 rows x 6 columns]

In [119]:
stocks.insert(1,'Is Start of Month',stocks.index.is_month_start)
stocks

,Day of Week,Is Start of Month,Open,High,Low,Close,Volume
Date,,,,,,,
2020-12-31,Thursday,False,217.8220,219.1040,215.8380,218.5280,2.131555e+07
2020-12-30,Wednesday,False,221.2770,221.6740,217.5950,217.8020,2.063381e+07
2020-12-29,Tuesday,False,222.3500,223.2140,219.6590,220.2050,1.771353e+07
2020-12-28,Monday,False,220.5040,222.0710,219.1230,221.0100,1.825327e+07
2020-12-24,Thursday,False,217.5450,219.6890,217.3260,218.8550,1.073870e+07
...,...,...,...,...,...,...,...
2010-01-08,Friday,False,23.7837,24.2642,23.7608,24.0934,6.515561e+07
2010-01-07,Thursday,False,24.0537,24.1232,23.7221,23.9257,6.434577e+07
2010-01-06,Wednesday,False,24.2642,24.4230,23.9852,24.1758,7.403254e+07
2010-01-05,Tuesday,False,24.2542,24.4389,24.0765,24.3267,6.331174e+07
2010-01-04,Monday,False,24.0854,24.4389,24.0358,24.3178,4.886916e+07

## The pd.DateOffset Object

In [122]:
# DateOffset  allows to add or subtract set amount of time from every date in our date time index
stocks.head(3)

,Day of Week,Is Start of Month,Open,High,Low,Close,Volume
Date,,,,,,,
2020-12-31,Thursday,False,217.822,219.104,215.838,218.528,2.131555e+07
2020-12-30,Wednesday,False,221.277,221.674,217.595,217.802,2.063381e+07
2020-12-29,Tuesday,False,222.350,223.214,219.659,220.205,1.771353e+07

In [123]:
#for eg we want to subtract five days in every day
#earlier we did was
stocks.index-5
#this gives error 
#we need to specify we need to move backwards by
#hours, minutes,seconds,dates, month

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [124]:
stocks.index-pd.DateOffset(days=5)

DatetimeIndex(['2020-12-26', '2020-12-25', '2020-12-24', '2020-12-23',
               '2020-12-19', '2020-12-18', '2020-12-17', '2020-12-16',
               '2020-12-13', '2020-12-12',
               ...
               '2010-01-10', '2010-01-09', '2010-01-08', '2010-01-07',
               '2010-01-06', '2010-01-03', '2010-01-02', '2010-01-01',
               '2009-12-31', '2009-12-30'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [125]:
stocks.index+pd.DateOffset(days=5)

DatetimeIndex(['2021-01-05', '2021-01-04', '2021-01-03', '2021-01-02',
               '2020-12-29', '2020-12-28', '2020-12-27', '2020-12-26',
               '2020-12-23', '2020-12-22',
               ...
               '2010-01-20', '2010-01-19', '2010-01-18', '2010-01-17',
               '2010-01-16', '2010-01-13', '2010-01-12', '2010-01-11',
               '2010-01-10', '2010-01-09'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [126]:
stocks.index-pd.DateOffset(weeks=2)

DatetimeIndex(['2020-12-17', '2020-12-16', '2020-12-15', '2020-12-14',
               '2020-12-10', '2020-12-09', '2020-12-08', '2020-12-07',
               '2020-12-04', '2020-12-03',
               ...
               '2010-01-01', '2009-12-31', '2009-12-30', '2009-12-29',
               '2009-12-28', '2009-12-25', '2009-12-24', '2009-12-23',
               '2009-12-22', '2009-12-21'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [127]:
stocks.index+pd.DateOffset(weeks=5)

DatetimeIndex(['2021-02-04', '2021-02-03', '2021-02-02', '2021-02-01',
               '2021-01-28', '2021-01-27', '2021-01-26', '2021-01-25',
               '2021-01-22', '2021-01-21',
               ...
               '2010-02-19', '2010-02-18', '2010-02-17', '2010-02-16',
               '2010-02-15', '2010-02-12', '2010-02-11', '2010-02-10',
               '2010-02-09', '2010-02-08'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [128]:
stocks.index-pd.DateOffset(years=1)

DatetimeIndex(['2019-12-31', '2019-12-30', '2019-12-29', '2019-12-28',
               '2019-12-24', '2019-12-23', '2019-12-22', '2019-12-21',
               '2019-12-18', '2019-12-17',
               ...
               '2009-01-15', '2009-01-14', '2009-01-13', '2009-01-12',
               '2009-01-11', '2009-01-08', '2009-01-07', '2009-01-06',
               '2009-01-05', '2009-01-04'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [129]:
stocks.index+pd.DateOffset(years=1)

DatetimeIndex(['2021-12-31', '2021-12-30', '2021-12-29', '2021-12-28',
               '2021-12-24', '2021-12-23', '2021-12-22', '2021-12-21',
               '2021-12-18', '2021-12-17',
               ...
               '2011-01-15', '2011-01-14', '2011-01-13', '2011-01-12',
               '2011-01-11', '2011-01-08', '2011-01-07', '2011-01-06',
               '2011-01-05', '2011-01-04'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [130]:
stocks.index+pd.DateOffset(years=1,months=2,days=10,hours=6,minutes=24)

DatetimeIndex(['2022-03-10 06:24:00', '2022-03-10 06:24:00',
               '2022-03-10 06:24:00', '2022-03-10 06:24:00',
               '2022-03-06 06:24:00', '2022-03-05 06:24:00',
               '2022-03-04 06:24:00', '2022-03-03 06:24:00',
               '2022-02-28 06:24:00', '2022-02-27 06:24:00',
               ...
               '2011-03-25 06:24:00', '2011-03-24 06:24:00',
               '2011-03-23 06:24:00', '2011-03-22 06:24:00',
               '2011-03-21 06:24:00', '2011-03-18 06:24:00',
               '2011-03-17 06:24:00', '2011-03-16 06:24:00',
               '2011-03-15 06:24:00', '2011-03-14 06:24:00'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

## Timeseries Offsets

In [131]:
stocks.index+pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2021-01-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31',
               ...
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [135]:
stocks.index+(pd.tseries.offsets.MonthBegin())

DatetimeIndex(['2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01',
               ...
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [136]:
from pandas.tseries import offsets
stocks.index+offsets.MonthEnd()

DatetimeIndex(['2021-01-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31',
               ...
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [137]:
#business end of month friday
stocks.index+offsets.BusinessMonthEnd()
#29 must be a friday

DatetimeIndex(['2021-01-29', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31',
               ...
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [138]:
stocks.index-offsets.BusinessMonthEnd()

DatetimeIndex(['2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30',
               ...
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [139]:
stocks.index+offsets.YearBegin()

DatetimeIndex(['2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01',
               ...
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

## The ```Timedelta ``` Object

In [140]:
#measurement of time
time_a=pd.Timestamp('2020-03-21')
time_b=pd.Timestamp('2020-03-20')
time_a-time_b

Timedelta('1 days 00:00:00')

In [141]:
time_a=pd.Timestamp('2020-03-21 04:25:16PM')
time_b=pd.Timestamp('2020-03-20 02:15:49AM')
time_a-time_b

Timedelta('1 days 14:09:27')

In [142]:
time_b-time_a

Timedelta('-2 days +09:50:33')

In [143]:
pd.Timedelta(days=3)

Timedelta('3 days 00:00:00')

In [144]:
time_a+pd.Timedelta(days=3)

Timestamp('2020-03-24 16:25:16')

In [147]:
pd.Timedelta(days=3,hours=12,minutes=45,seconds=20)

Timedelta('3 days 12:45:20')

In [148]:
pd.Timedelta(weeks=8,days=3,hours=12,minutes=45,seconds=20)

Timedelta('59 days 12:45:20')

In [149]:
pd.Timedelta('5 minutes')

Timedelta('0 days 00:05:00')

In [151]:
pd.Timedelta('6 hours 12 minutes')

Timedelta('0 days 06:12:00')

In [152]:
pd.Timedelta('14 days 6 hours 12 minutes')

Timedelta('14 days 06:12:00')

## Timedeltas in a Dataset

In [153]:
pd.read_csv('ecommerce.csv')pd.read_csv('ecommerce.csv')

      ID order_date delivery_date
0      1    5/24/98        2/5/99
1      2    4/22/92        3/6/98
2      4    2/10/91       8/26/92
3      5    7/21/92      11/20/97
4      7     9/2/93       6/10/98
..   ...        ...           ...
496  990    6/24/91        2/2/96
497  991     9/9/91       3/30/98
498  993   11/16/90       4/27/98
499  994     6/3/93       6/13/93
500  997     1/4/90       10/3/91

[501 rows x 3 columns]

In [154]:
pd.read_csv('ecommerce.csv',index_col='ID')

    order_date delivery_date
ID
1      5/24/98        2/5/99
2      4/22/92        3/6/98
4      2/10/91       8/26/92
5      7/21/92      11/20/97
7       9/2/93       6/10/98
..         ...           ...
990    6/24/91        2/2/96
991     9/9/91       3/30/98
993   11/16/90       4/27/98
994     6/3/93       6/13/93
997     1/4/90       10/3/91

[501 rows x 2 columns]

In [157]:
shipping=pd.read_csv('ecommerce.csv',index_col='ID',parse_dates=['order_date','delivery_date'])

In [159]:
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [160]:
shipping['delivery_date']-shipping['order_date']
#we get series containing timedelta

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
         ...
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [162]:
 #we can create new column
shipping['Delivery Time']=shipping['delivery_date']-shipping['order_date']
shipping.head(10)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days
8  1993-06-10    1993-11-11      154 days
9  1990-01-25    1994-10-02     1711 days
10 1992-02-23    1998-12-30     2502 days
11 1996-07-12    1997-07-14      367 days
18 1995-06-18    1997-10-13      848 days

In [164]:
shipping['Twice As Long']=shipping['delivery_date']+shipping['Delivery Time']

In [165]:
shipping.head(10)

   order_date delivery_date Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22
7  1993-09-02    1998-06-10     1742 days    2003-03-18
8  1993-06-10    1993-11-11      154 days    1994-04-14
9  1990-01-25    1994-10-02     1711 days    1999-06-09
10 1992-02-23    1998-12-30     2502 days    2005-11-05
11 1996-07-12    1997-07-14      367 days    1998-07-16
18 1995-06-18    1997-10-13      848 days    2000-02-08

In [167]:
mask=shipping['Delivery Time']>'365 days'

In [168]:
mask

ID
1      False
2       True
4       True
5       True
7       True
       ...
990     True
991     True
993     True
994    False
997     True
Name: Delivery Time, Length: 501, dtype: bool

In [170]:
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [171]:
shipping['Delivery Time'].min()

Timedelta('8 days 00:00:00')